@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

 @custom-variant dark (&:where([data-theme=dark],[data-theme=dark] *));


li a .active{
  border: none;
 border-bottom: rgb(255, 76, 11) ;
}